* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

html,
body {
    padding: 0;

    background-image: linear-gradient(to bottom, rgb(55, 74, 109), rgb(26, 41, 70));
    text-align: center;
}

body {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 6fr;
}

.sidebar {
    min-height: 100vh;

    grid-column: 1/2;

    background-color: rgb(0, 0, 0);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-book {
    margin-top: 20vh;
    width: 20vh;
    height: 10vh;

    border: none;
    border-radius: 2vh;

    background-color: rgb(9, 29, 94);
    color: white;
    font-weight: bold;
}

.content-container {
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 30%));
    gap: 5vh;

    padding: 10vh;
}

.content-container div {
    height: 250px;
    background-color: #292b36;
    color: white;
    border: 1vh solid #a38f36;
    border-radius: 2vh;
}
